# Importing the Dependencies

In [1]:
import pandas as pd

# Data Collection & Pre-Processing

In [2]:
# loading the data from csv file to a pandas Dataframe
raw_data=pd.read_csv("/home/sawra/Documents/python/CSV FILE/spam.csv", encoding="cp437")

In [3]:
# replace the null values with a null string
mail_data=raw_data.where((pd.notnull(raw_data)),"")
mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will ╠_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [4]:
counts =mail_data['v1'].value_counts()
counts

ham     4825
spam     747
Name: v1, dtype: int64

In [5]:
# label spam mail as 0;  ham mail as 1;
mail_data.loc[mail_data["v1"]=="spam","v1"]=0
mail_data.loc[mail_data["v1"]=="ham","v1"]=1
mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,"Go until jurong point, crazy.. Available only ...",,,
1,1,Ok lar... Joking wif u oni...,,,
2,0,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,1,U dun say so early hor... U c already then say...,,,
4,1,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,0,This is the 2nd time we have tried 2 contact u...,,,
5568,1,Will ╠_ b going to esplanade fr home?,,,
5569,1,"Pity, * was in mood for that. So...any other s...",,,
5570,1,The guy did some bitching but I acted like i'd...,,,
5571,1,Rofl. Its true to its name,,,

In [6]:
#splitting

x=mail_data["v2"]
y=mail_data["v1"]

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=3)

In [7]:
x_train

5398    Hi. Hope you had a good day. Have a better night.
3428    I don't know jack shit about anything or i'd s...
1968    2 laptop... I noe infra but too slow lar... I ...
334     Valentines Day Special! Win over σú1000 in our...
5550          Cool, what time you think you can get here?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: v2, Length: 4179, dtype: object

In [8]:
y_train

5398    1
3428    1
1968    1
334     0
5550    1
       ..
789     1
968     1
1667    1
3321    1
1688    1
Name: v1, Length: 4179, dtype: object

# Feature Extraction

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
f_e=TfidfVectorizer(min_df=1,stop_words="english",lowercase=True)

In [10]:
x_train=f_e.fit_transform(x_train)
x_test=f_e.transform(x_test)

In [11]:
x_train.dtype

dtype('float64')

In [12]:
x_test.dtype

dtype('float64')

In [13]:
y_train.dtype

dtype('O')

In [14]:
y_test.dtype

dtype('O')

In [15]:
mail_data.dtypes

v1            object
v2            object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [16]:
y_train=y_train.astype("int")
y_test=y_test.astype("int")

In [17]:
y_test

2632    1
454     0
983     1
1282    1
4610    1
       ..
4831    1
4623    1
2560    1
3707    0
4585    0
Name: v1, Length: 1393, dtype: int64

In [18]:
y_train

5398    1
3428    1
1968    1
334     0
5550    1
       ..
789     1
968     1
1667    1
3321    1
1688    1
Name: v1, Length: 4179, dtype: int64

In [19]:
print(x_train)

  (0, 4453)	0.4137099812271574
  (0, 1218)	0.49284844328645316
  (0, 2025)	0.36292273565055266
  (0, 2954)	0.35128067252612105
  (0, 3236)	0.40767294758670747
  (0, 3181)	0.4057538764406639
  (1, 3312)	0.3624626179128282
  (1, 5361)	0.33340046803734547
  (1, 6330)	0.19010264053645462
  (1, 3601)	0.15742094235843232
  (1, 2140)	0.2042789782726889
  (1, 5034)	0.3624626179128282
  (1, 6869)	0.18463303537809098
  (1, 3166)	0.3624626179128282
  (1, 1001)	0.21650181180079517
  (1, 5532)	0.2139979145073724
  (1, 5681)	0.25656432320088995
  (1, 3506)	0.3624626179128282
  (1, 3677)	0.17402899202895528
  (1, 2243)	0.19444387543429706
  (2, 2582)	0.36440342047974034
  (2, 6864)	0.3100868326830504
  (2, 3733)	0.3266985605362149
  (2, 5813)	0.4021082804232658
  (2, 3411)	0.4702543446276892
  :	:
  (4174, 2025)	0.31030009083694343
  (4175, 955)	0.6760811953548324
  (4175, 6987)	0.5781081025543179
  (4175, 1687)	0.456842685230515
  (4176, 5152)	0.4452027061358476
  (4176, 1910)	0.4154244225191343
  (4176, 2895)	0.42033378622672896
  (4176, 2952)	0.3406431696348904
  (4176, 1991)	0.3753162982460811
  (4176, 7058)	0.30875697054855966
  (4176, 1001)	0.3167106694917211
  (4177, 1096)	0.38778963132653815
  (4177, 6169)	0.38778963132653815
  (4177, 2012)	0.3155942400451006
  (4177, 7070)	0.29179157334112066
  (4177, 7117)	0.3038252301409844
  (4177, 4073)	0.30741574739863803
  (4177, 2641)	0.3256039060748354
  (4177, 6103)	0.2545442088389357
  (4177, 4581)	0.3584772705009954
  (4177, 3601)	0.1684207037729177
  (4178, 5870)	0.5306652510346693
  (4178, 5886)	0.5306652510346693
  (4178, 1320)	0.4455680724727177
  (4178, 4368)	0.4881166617536935

In [20]:
from sklearn.naive_bayes import MultinomialNB
n_v=MultinomialNB()
n_v.fit(x_train,y_train)
pred=n_v.predict(x_test)

# Evaluating the trained model

In [24]:
# prediction on training data
from sklearn.metrics import accuracy_score

prediction_on_training_data = n_v.predict(x_train)
accuracy_on_training_data = accuracy_score(y_train, prediction_on_training_data)

In [25]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9830102895429529

In [29]:
# prediction on test data

prediction_on_test_data = n_v.predict(x_test)
accuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

In [30]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.9698492462311558

In [31]:
print(pred)

[1 0 1 ... 1 0 0]

In [32]:
y_test

2632    1
454     0
983     1
1282    1
4610    1
       ..
4831    1
4623    1
2560    1
3707    0
4585    0
Name: v1, Length: 1393, dtype: int64

# Building a Predictive System

In [33]:
input_1=["Free entry for customer"]
ip=f_e.transform(input_1)
pred_1=n_v.predict(ip)

if pred_1[0]==1:\
   print ["ham email"]
else:
    print("spam")

spam

In [34]:
print(ip)   #Tfid of Free, entry & customer

  (0, 2772)	0.43920093596160836
  (0, 2430)	0.6850793546980012
  (0, 1972)	0.5811788155266996